html *{margin:0;padding:0;}
hr{border-bottom: 1px solid #999;margin: .7em 0;}
fieldset{border:0;}
body{
    text-align: center;
    background: #fff;
    font-family: Arial, Verdana, sans-serif;
    font-size: 0.8em;
}
table, tr, td, input, select, textarea{
	font-family: inherit;
	font-size: inherit;
}
.red{color: #c00;}
.green{color: #5a1;}
.blue{color: #00f;}
.caps{text-transform: uppercase;}
.cleft{clear:left;}
.cright{clear:right;}
.clear{clear:both;}
.fleft{float:left;display:inline;}
.fright{float:right;display:inline;}
.bold{font-weight: bold;}
.unbold{font-weight: normal;}
.italic{font-style: italic;}
.offscreen{position: absolute; left: -999em;}
.hidden{display:none;}
abbr,span.abbr,acronym {
	cursor: help;
	border-bottom: 1px dotted #639;
}
br.clear{line-height: 0;}
body *{text-align: left;}
h1,h2,h3,h4,h5,h6{
    font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}
.btnSubmit,
.btnConfirm,
.btnReset{
	padding: 3px 10px;
	background: #eee;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
	text-decoration: none;
}
a.btnSubmit,
a.btnConfirm,
a.btnReset{padding: 4px 10px;margin: 5px;}
.btnSubmit:hover,
.btnSubmit:focus,
.btnSubmit-hover,
.btnSubmit-focus,
.btnConfirm:hover,
.btnConfirm:focus,
.btnConfirm-hover,
.btnConfirm-focus{
	background: #6f6;
}
.btnReset:hover,
.btnReset:focus,
.btnReset-hover{
	background: #f66;
}
.homehead{
	margin: 1.5em 0;
}
h6{font-size: 100%;}
h5{font-size: 105%;}
h4{font-size: 110%;}
h3{font-size: 120%;}
h2{font-size: 125%;}
h1{font-size: 130%;}
div,td{font-size: inherit;}

dl, ul, ol, blockquote{
	margin-left: 1em;
}
dt{
	text-decoration: underline;
}
dd{
	margin: 0 0 1em 1em;
}


div#body{
	width: 760px;
	margin: 0 auto;
}
div#header{
	margin: 0 0 10px 0;
}
div#header h1{
	float: right;
	text-indent: -999em;
	width: 222px;
	height: 121px;
	background: no-repeat url(/skin/images/nbsslogo.gif);
}
div#header div#userinfo{
	float: left;
}
/* FORM generic layout */
form fieldset{
	margin: .5em 0 1em 1em;
	width: 450px;
}
body.javascript div.helptextContainer{
	visibility: hidden;
	display: none;
}
body.javascript form input.submitPub,
body.javascript form input.submitTown{
	/*display:none;*/
}
form fieldset fieldset{
	margin: .5em 0 2em 2em;
	border-width: 0 0 1px 1px;
	border-color: #000;
	border-style: solid;
}
form fieldset fieldset fieldset{
	float: left;
}
form fieldset div{
	overflow: auto;
}
form p.optionseparator{
	margin: .2em 0 .2em 10em;
	font-size: 110%;
	font-weight: bold;
}
form fieldset legend{
	float: left;
	clear: left;
	display: inline;
	padding: .3em 2.5em .3em .3em;
	margin-left: 10%;
	font-weight: bold;
	font-size: 110%;
	background: #336;
	color: #fff;
}
form fieldset fieldset legend{
	background: #ccd;
	color: #000;
}
form fieldset fieldset fieldset legend{
	background: #eef;
	color: #000;
}
form div label,
form p.fieldSubstitute span.label{
	float: left;
	clear: left;
	width: 100px;
	margin: 5px 0;
	padding-left: 15px; /* for images */
	text-align: right;
}
form div input,
form div select,
form div a.helplink,
form p.fieldSubstitute span.input{
	float: left;
	display: inline;
	margin: 5px;
}
form div textarea{
	float: left;
	display: inline;
	margin: 5px;
}
form div.hidden{
	display: none;
}
form div.textareafull textarea{
	float: left;
	clear: left;
	width: 95%;
}
form div.textareafull label{
	text-align: left;
}
form div.helpbox{
	float: left;
	clear: left;
	display: inline;
	margin: 0 0 2em 3em;
	width: 400px;
}
form div.text input,
form div.select select{
	float: left;
	width: 200px;
	border: 1px solid #999;
}
form div.textshort input{
	float: left;
	width: 100px;
	border: 1px solid #999;
}
form div.textlong input{
	float: left;
	width: 300px;
	border: 1px solid #999;
}
form div.checkbox,
form div.checkbox div,
form div.radio div{
	float: left;
	clear: left;
	display: inline;
}
form div.checkbox input,
form div.radio input{
	float: left;
	clear: left;
	display: inline
}
form div.horizontal div{
	clear: none;
}
form div.checkbox label,
form div.radio label{
	float: left;
	clear: none;
	display: inline;
	text-align: left;
	width: auto;
}
/* HELP Box */
form fieldset div.frm_help{
	clear: left;
	margin-left: 15%;
}
form div.textareafull div.frm_help{
	margin-left: 0;
}
form select optgroup option{
	text-indent: 1em;
}
form div.submit{
	clear: left;
}
/* FORM Validation Hints */
form div.required label{
	color: #f00;
	font-weight: bold;
	background-color: #fff;
	background: no-repeat url(/skin/images/required.gif) top left #fff;
}
form div.complete label,
form div.reqcomplete label,
form div.emailcomplete label,
form div.charLencomplete label,
form div.wordLencomplete label,
form div.alphacomplete label,
form div.numcomplete label,
form div.alphaNumcomplete label,
form div.reqCountcomplete label,
form div.reqMaxcomplete label{
	color: #0f0;
	font-weight: bold;
	background-color: #fff;
	background: no-repeat url(/skin/images/complete.gif) top left #fff;
}
form div.caution label,
form div.reqcaution label,
form div.emailcaution label,
form div.charLencaution label,
form div.wordLencaution label,
form div.alphacaution label,
form div.numcaution label,
form div.alphaNumcaution label,
form div.reqCountcaution label,
form div.reqMaxcaution label{
	color: #f00;
	font-weight: bold;
	background-color: #fff;
	background: no-repeat url(/skin/images/caution.gif) top left #fff;
}
p.error{
	clear: left;
	color: #f00;
	font-weight: bold;
	font-size: 110%;
}

div#content table{
	clear: both;
	font-size: 95%;
}
div#footer{
	clear: both;
	margin-top: 1em;
}
div#footer ul{
	list-style-type: none;
}
div#footer li{
	display: inline;
}
div#footer li.first a{
	border: 0;
}
div#footer li a{
	float: left;
	border-left: 1px solid #336;
	padding: 3px 6px;
}
#customFooter
{
	clear: both;
	float: right;
}
#versionFooter
{
	float: right;
	clear: both;
	display: inline;
	font-size: 70%;
	padding: 3px 0;
}
#cal1Container{
	position: absolute;
	display: none;
}
img#cal1Open{display:none;}
body.javascript img#cal1Open{display: inline;}
#submissiontable{
	width: 550px;
}
body.javascript .jshideme{display:none;}
.jsshowme{display:none;}
body.javascript .jsshowme{display:inline;}
form div.ac_container {float: left;clear: both;}
form div.ac_container {position:relative;z-index:9050;}
form div.ac_container .yui-ac-content {position:absolute;left:0;top:0;width:20em;border:1px solid #404040;background:#fff;overflow:hidden;text-align:left;z-index:9050;}
form div.ac_container .yui-ac-shadow {position:absolute;left:0;top:0;margin:.3em;background:#a0a0a0;z-index:9049;}
form div.ac_container ul {padding:5px 0;width:100%;list-style-type: none;}
form div.ac_container li {padding:0 5px;cursor:default;white-space:nowrap;}
form div.ac_container li.yui-ac-highlight {background:#ff0;}
