html *{margin:0;padding:0;}
hr{border-bottom: 1px solid #999;margin: .7em 0;}
fieldset{border:0;}
body{ text-align: center; background: #fff; font-family: Arial, Verdana, sans-serif; font-size: 0.8em}
table, tr, td, input, select, textarea{ font-family: inherit; font-size: inherit}
.red{color: #c00;}
.green{color: #5a1;}
.blue{color: #00f;}
.caps{text-transform: uppercase;}
.clear{clear: both;}
.offscreen{position: absolute; left: -999em;}
.email {background: transparent url(/skin/include/aemail.gif) center right no-repeat;padding-right: 10px;}
.offsite {background: transparent url(/skin/include/aoutside.gif) center right no-repeat;padding-right: 10px;}
.zipfile {background: transparent url(/skin/include/azip.gif) center right no-repeat;padding-right: 12px;}
.pdffile {background: transparent url(/skin/include/apdf.gif) center right no-repeat;padding-right: 12px;}
abbr,span.abbr,acronym {cursor: help; border-bottom: 1px dotted #639}
br.clear{line-height: 0;}
body *{text-align: left;}
h1,h2,h3,h4,h5,h6{ font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif; text-transform: uppercase; font-weight: normal}
h6{font-size: 100%;}
h5{font-size: 105%;}
h4{font-size: 110%;}
h3{font-size: 120%;}
h2{font-size: 125%;}
h1{font-size: 130%;}
div,td{font-size: inherit;}
dl, ul, ol, blockquote{ margin-left: 1em}
dt{ text-decoration: underline}
dd{ margin: 0 0 1em 1em}
div#body{ width: 760px; margin: 0 auto}
div#header{ margin: 0 0 10px 0}
div#header h1{ float: right; text-indent: -999em; width: 222px; height: 121px; background: no-repeat url(/skin/images/nbsslogo.gif)}
div#header div#userinfo{ float: left}
form fieldset{ margin: .5em 0 1em 1em; width: 450px}
body.javascript div.helptextContainer{ visibility: hidden; display: none}
body.javascript form input.submitPub, body.javascript form input.submitTown{ }
form fieldset fieldset{ margin: .5em 0 2em 2em; border-width: 0 0 1px 1px; border-color: #000; border-style: solid}
form fieldset div{ overflow: auto}
form p.optionseparator{ margin: .2em 0 .2em 10em; font-size: 110%; font-weight: bold}
form fieldset legend{ float: left; clear: left; display: inline; padding: .3em 2.5em .3em .3em; margin-left: 10%; font-weight: bold; font-size: 110%; background: #336; color: #fff}
form fieldset fieldset legend{ background: #ccd; color: #000}
form fieldset fieldset fieldset legend{ background: #eef; color: #000}
form div label, form p.fieldSubstitute span.label{ float: left; clear: left; width: 15%; min-width: 100px; margin: 5px 0; padding-left: 15px; text-align: right}
form div input, form div select, form div a.helplink, form p.fieldSubstitute span.input{ float: left; margin: 5px}
form div textarea{ float: left; margin: 5px}
form div.hidden{ display: none}
form div.textareafull textarea{ float: left; clear: left; width: 95%}
form div.textareafull label{ text-align: left}
form div.helpbox{ float: left; clear: left; display: inline; margin: 0 0 2em 3em; width: 400px}
form div.text input{ float: left; width: 200px; border: 1px solid #999}
form div.textshort input{ float: left; width: 100px; border: 1px solid #999}
form div.textlong input{ float: left; width: 300px; border: 1px solid #999}
/*form div.checkbox, form div.checkbox div, form div.radio div{ float: left; clear: left}*/ form div.checkbox input, form div.radio input{ float: left; clear: left; display: inline }
form div.horizontal div{ clear: none}
form div.checkbox label, form div.radio label{ float: left; clear: none; display: inline; text-align: left; width: auto}
form fieldset div.frm_help{ clear: left; margin-left: 15%}
form div.textareafull div.frm_help{ margin-left: 0}
form select optgroup option{ text-indent: 1em}
form div.submit{ clear: left}
form div.required label{ color: #f00; font-weight: bold; background-color: #fff; background: no-repeat url(/skin/images/required.gif) top left #fff}
form div.complete label, form div.reqcomplete label, form div.emailcomplete label, form div.charLencomplete label, form div.wordLencomplete label, form div.alphacomplete label, form div.numcomplete label, form div.alphaNumcomplete label, form div.reqCountcomplete label, form div.reqMaxcomplete label{ color: #0f0; font-weight: bold; background-color: #fff; background: no-repeat url(/skin/images/complete.gif) top left #fff}
form div.caution label, form div.reqcaution label, form div.emailcaution label, form div.charLencaution label, form div.wordLencaution label, form div.alphacaution label, form div.numcaution label, form div.alphaNumcaution label, form div.reqCountcaution label, form div.reqMaxcaution label{ color: #f00; font-weight: bold; background-color: #fff; background: no-repeat url(/skin/images/caution.gif) top left #fff}
p.error{ color: #f00; font-weight: bold; font-size: 110%}
div#content table{ clear: both; font-size: 95%}
div#footer{ clear: both; margin-top: 1em}
div#footer ul{ list-style-type: none}
div#footer li{ display: inline}
div#footer li.first a{ border: 0}
div#footer li a{ float: left; border-left: 1px solid #336; padding: 3px 6px}